.error-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.error-card {
  -webkit-backdrop-filter: blur(8.9px);
  align-items: center;
  backdrop-filter: blur(8.9px);
  background-color: var(--bg-color);
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 48px;
  text-align: center;
}

.error-title {
  color: white;
  font-family: var(--font-family-title);
  font-size: 28px;
}

.error-message {
  color: white;
  font-family: var(--font-family-subtitle);
  font-size: 14px;
  font-weight: 700;
  max-width: 280px;
}

.error-btn {
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  color: black;
  cursor: pointer;
  font-family: var(--font-family-subtitle);
  font-weight: 700;
  margin-top: 8px;
  padding: 8px 24px;
  transition: opacity 0.2s;
}

.error-btn:hover {
  opacity: 0.85;
}