.list-jobs {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  width: 100%;
}

.job {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-subtitle);
  font-weight: bold;
  height: auto;
  padding: 24px;
}

.job p {
  margin: 4px;
  text-shadow: 1px 1px 2px black;
}

.input-group {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.input-repository {
  background-color: var(--bg-color);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 15px;
  margin: 3px;
  outline: none;
  padding: 8px 20px;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input-error {
  border-color: var(--error-color) !important;
}

.inputAndError {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-msg {
  color: var(--error-color);
  font-size: 10px;
  font-weight: lighter;
  font-family: var(--font-family-subtitle);
}

.btn {
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  color: black;
  cursor: pointer;
  font-family: var(--font-family-subtitle);
  font-weight: 700;
  height: 35px;
  letter-spacing: 2px;
  outline: none;
  padding: 8px 12px;
  transition: opacity 0.2s;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-success {
  background-color: #4caf50;
  color: white;
}

.btn-error {
  background-color: var(--error-color);
  color: white;
}

.input-group .btn:hover {
  opacity: 0.85;
}