header {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.title {
  font-family: var(--font-family-title);
  font-size: 10px;
  font-weight: bold;
  margin-left: 25px;
}

header img {
  height: 50px;
  width: 100px;
}

header::after {
  content: "";
  width: 100px;
}