.wallpaper {
  align-items: center;
  background-image: url("https://cdn.prod.website-files.com/686f8b48c59e46ab4c4351f0/686fd96a768b506db8406110_bg_careers-p-2000.avif");
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loading-card {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.skeleton-line {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.05) 75%);
  border-radius: 6px;
  height: 16px;
}

.skeleton-input-group {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.04) 25%,
      rgba(255, 255, 255, 0.10) 50%,
      rgba(255, 255, 255, 0.04) 75%);
  height: 35px;
  border-radius: 8px;
  margin-top: 8px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}