:root {
  --font-family-title: 'Playfair Display', serif;
  --font-family-subtitle: 'Inter', sans-serif;
  --bg-color: #2d1a47;
  --button-color: #e8a317;
  --secondary-bg-color: #44286d;
  --error-color:#ff0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg-color);
  height: 100vh;
  padding: 4px;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  color: white;
  height: 100%;
  width: 100%;
}